/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zilla Slab', serif;
}

nav {
    font-size: 1.2rem;
    font-weight: bold;
}

#landing {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing .background-image {
    background-image: url("images/landing.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(4px);
    z-index: -1;
}

#landing h1 {
    position: relative;
    z-index: 1;
    font-size: 5rem;
    font-weight: 600;
}

#projects-headline{
	font-weight: bold;
	font-size: 3.5rem;
}

.sub-headlines {
    font-weight: 600;
    font-size: 2rem;
}

.card {
    border: none !important;
}

.my-card {
    width: 100%; 
    max-width: 123px; 
}

.fix-p {
    padding-left: 6rem;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#aboutme h2 {
    padding-bottom: 1rem;
}


#formButton {
    box-shadow: none;
}

#me-profile {
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 100%;
}